<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='/stylesheets/mystyle.css' />

<h1>Good job, <%=user%> ! </h1>
</head>
<body>
<div>
<p>Your correctness is:<%=correctNumber%>/10 </p>
<p>You've gain <%=experience%> experience!</p><br>
<form action = '/info' class = "inline">
<button class="button black bigrounded">AGAIN!</button><br><br>
</form>
<form action = '/' class = "inline">
<button  class="button black bigrounded">CLOSE!</button><br> <br>
</form>
</div>
</body>
</html>