<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='/stylesheets/mystyle.css' />
</head>
<body>
<!DOCTYPE html>
<html>
<style>

</style>

<head>
<h1>Welcome to the Dr.Movie Quiz Game!</h1>
</head>
<body>

<div id=login>
	<form id=loginForm method="post" action="/">
		<p>User Name:</p>
		<input type=text name=username placeholder="Username"><br>
		<p>Password:</p>
		<input type=text name=password placeholder="Password"><br>
    <div>
		<button name="subject" type="submit" value="signIn" class="button black bigrounded">Sign In</button><br><br>
		<button name="subject" type="submit" value="signUp" class="button black bigrounded">Sign Up</button><br><br> 
    </div>
	</form>
</div>


</body>
</html>  

</body>
</html>